@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body, p { margin: 0; }
#box1 {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    left: 0;
    top: 0;
    background-color: #000000;
}
#box1 > iframe {
    width: 100%;
    height: 100%;
}
#box1 > p {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Black Han Sans', sans-serif;
        font-size: 4vw;
    color: rgba(0, 0, 0, 0.4);
}
