::-webkit-scrollbar-{
    display: none;
}

@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

a{
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
    text-decoration-line: none;
    transition: .2s;
}
a:link, a:visited{ color : white;}
a:hover{ color : gray; opacity: .5;}

#size{
    width : 100%;
    height: 100%;
}

/* --------------------------------<header>------------------------------- */

header{
    position: absolute;
    width: 95%;
    height: 100px;
    margin-bottom: 0;
    color: #ffffff;
}

.fa {
    font-size: 24px;
    width: 32px;
    text-align: bottom;
    text-decoration: none;
}

.fa:hover {
    color: #2b2b2b;
}

#logo{
    position: absolute;
    left: 20px;
    font-size: 80px;
    bottom:0px;
}
#social {
    position: absolute;
    font-size: 40px;
    right: 10px;
    bottom:0px;
}
@media screen and (max-width: 960px) {
    header{
        height: 80px;
    }
    #logo {
       font-size:60px;
    } 
    #social{
        font-size:30px;
    }

}

@media screen and (max-width: 520px) {
    header{
        height: 60px;
    }
    #logo {
        font-size:40px;
    }
    #social{
        font-size:20px;
    }
}

/* ------------------------------<index>--------------------------------- */
.imglay{
    margin-top:10px;
    margin-left:10px;
    padding:0;
}

.paper1{
    position:absolute;
    background-color:white;
    z-index:120;
    animation: fadein 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.paper2{
    position: absolute;
    background-color: white;
    z-index:120;
    animation: fadein 1.5s;
    animation-delay: 1.25s;
    animation-fill-mode: backwards;
}

.paper3{
    position: absolute;
    background-color: white;
    z-index:120;
    animation: fadein 1.5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

#box1{
    top:18.52vh;
    /* 200 */
    left:44.79%;
    /* 860 */
    width:28.65vw;
    /* 550 */
    height:26.85vh;
    /* 290 */
    z-index:120;
}
#box2{
    top:12.04vh;
    /* 130 */
    left:32.29%;
    /* 620 */
    width:10.42vw;
    /* 200 */
    height:19.44vh;
    /* 210 */
    z-index:120;
}
#box3{
    top:49.07vh;
    /* 530 */
    left:57.29%;
    /* 1100 */
    width:10.42vw;
    /* 200 */
    height:14.81vh;
    /* 160 */
    z-index:120;
}
#box4{
    top:34.26vh;
    /* 370 */
    left:75.52%;
    /* 1450 */
    width:6.25vw;
    /* 120 */
    height:16.67vh;
    /* 180 */
    z-index:120;
}
#box5{
    top:35.19vh;
    /* 380 */
    left:24.48%;
    /* 470 */
    width:18.23vw;
    /* 350 */
    height:20.37vh;
    /* 220 */
    z-index:120;
}
#box6{
    top:49.07vh;
    /* 530 */
    left:44.79%;
    /* 860 */
    width:10.42vw;
    /* 200 */
    height:24.07vh;
    /* 260 */
    z-index:120;
}
#box7{
    top:59.26vh;
    /* 640 */
    left:29.17%;
    /* 560 */
    width:13.54vw;
    /* 260 */
    height:19.44vh;
    /* 210 */
    z-index:120;
}

#box_1{
    width:calc(28.65vw - 20px);
    height:calc(26.85vh - 30px);
}
#box_2{
    width:calc(10.42vw - 20px);
    height:calc(19.44vh - 30px);
}
#box_3{
    width:calc(10.42vw - 20px);
    height:calc(14.81vh - 30px);
}
#box_4{
    width:calc(6.25vw - 20px);
    height: calc(16.67vh - 30px);
}
#box_5{
    width:calc(18.23vw - 20px);
    height:calc(20.37vh - 30px);
}
#box_6{
    width:calc(10.42vw - 20px);
    height:calc(24.07vh - 30px);
}
#box_7{
    width:calc(13.54vw - 20px);
    height:calc(19.44vh - 30px);
}

@media screen and (max-width: 520px){
    #box1, #box5, #box7 {
        width:calc(100% - 40px);
        height:240px;
        left:20px;
    }

    #box1{
        top:100px;
    }
    #box5{
        top:360px;
    }
    #box7{
        top:620px;
    }

    #box2, #box3, #box4,#box6 {
        width:0;
        height:0;
    }
    #box_1,#box_5,#box_7 {
        width:calc(100% - 20px);
        height:200px;
    }
    #box_2,#box_3,#box_4,#box_6{
        width:0;
        height:0;
    } 

}

/* --------------------------------<me>------------------------------- */

.myimage_algin{
    display: block;
    position: absolute;
    top:140px;
    left:510px;
}

#myimage_1{
    width:100%;
    height:100%;
}

.myimage{
    text-align: left;
    position: absolute;
    top:140px;
    left:20px;
    z-index : 200;
    height:300px;
    width:450px;
}

#nameline1{
    position: relative;
    text-align: left;
    left : 0px;
    top : 0px;
    width : calc(100vw - 600px);
}

@media screen and (max-width: 960px){
    .myimage_algin{
        left: calc(30% + 40px);
    }
    #myimage_1{
        height:100%;
        width:100%;
    }
    .myimage{
        top:120px;
        height:50%;
        width:30%;
    }
    #nameline1{
        width : calc(100vw - 400px);
    }
}

@media screen and (max-width: 520px){
    .myimage_algin{
        top: 460px;
        left: 20px;
    }
    #myimage_1{
        text-align: left;
        left:20px;
        height: 100%;
        width: 100%;
    }
    .myimage{
        top:120px;
        height:50%;
        width:calc(100vw - 70px);
    }
    #nameline1{
        width : 400px;
    }
    .myimage_algin{
        top: calc(50% + 40px);
    }
}

.me_paper1 , .myimage{
    animation: fadein 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
.me_paper2{
    animation: fadein 1.5s;
    animation-delay: 1.25s;
    animation-fill-mode: backwards;
}
.me_paper3{
    animation: fadein 1.5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}
.me_paper4{
    animation: fadein 1.5s;
    animation-delay: 2.75s;
    animation-fill-mode: backwards;
}

/* --------------------------------------works----------------------------------- */
.content_algin{
    display: inline-block;
}

.workpaper1{
    position: relative;
    top: 120px;
    left : 120px;
    width:calc(50vw - 120px);
}

.work1paper1{
    position: relative;
    width : 100%;
    height: 20vw;
    animation: fadein 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.work1paper2{
    position: absolute;
    width : 16vw;
    height : 16vw;
    top : 20px;
    right : 0px;
    animation: fadein 1.5s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}
.work1paper3{
    position:absolute;
    width : 16vw;
    height : 16vw;
    top : calc(16vw + 60px);
    right : 0px;
    animation: fadein 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}
.work1paper4{
    position: absolute;
    width : 16vw;
    height : 16vw;
    top : calc(32vw + 100px);
    right : 0px;
    animation: fadein 1.5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

.content_algins{
    text-align: left;
}

.workpaper2{
    display: block;
    position: absolute;
    left : calc(50vw + 40px);
    top: 60px;
    width:calc(50vw - 60px);
}

.work1paper1_a{
    position: absolute;
    top:10px;
    width : calc(50vw - 60px);
    left : 0px;
    font-size: 45px;
    animation: fadein 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
.work1paper1_b{
    position: absolute;
    width : calc(50vw - 60px);
    top : 100px;
    left : 0px;
    font-size: 30px;
    animation: fadein 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
.work1paper2_a{
    position: absolute;
    width : 16vw;
    height : 16vw;
    top : calc(20vw + 110px);
    left : 0px;
    font-size: 30px;
    animation: fadein 1.5s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}
.work1paper3_a{
    position:absolute;
    width : 16vw;
    height : 16vw;
    top : calc(36vw + 150px);
    left : 0px;
    font-size: 30px;
    animation: fadein 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}
.work1paper4_a{
    position: absolute;
    width : 16vw;
    height : 16vw;
    top : calc(52vw + 190px);
    left : 0px;
    font-size: 30px;
    animation: fadein 1.5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

@media screen and (max-width: 960px){
    .workpaper1{
        left : 70px;
        width:calc(50vw - 70px);
    }
    .work1paper1_a{
        font-size: 30px;
        top : 30px;
    } 
    .work1paper2_a, .work1paper3_a, .work1paper4_a{
        font-size: 20px;
    }
    .work1paper1_b{
        top : 130px;
        font-size: 10px;
    }
    .work1paper2_a{
        top :calc(20vw + 120px);
    }
    .work1paper3_a{
        top :calc(36vw + 160px);
    }
    .work1paper4_a{
        top : calc(52vw + 200px);
    }


}

@media screen and (max-width: 520px){
    .workpaper1{
        left : 20px;
        width:calc(50vw - 20px);
    }
    .work1paper1_a{
        font-size: 20px;
        top : 40px;
    } 
    .work1paper1_b, .work1paper2_a, .work1paper3_a, .work1paper4_a{
        font-size: 10px;
    }
    .work1paper1_b{
        top : 120px;
    }
    .work1paper2_a{
        top :calc(20vw + 130px);
    }
    .work1paper3_a{
        top :calc(36vw + 170px);
    }
    .work1paper4_a{
        top : calc(52vw + 210px);
    }
}